h3{
    font-size: 30px;
    text-decoration: overline;
}

.second{
    /* display: none; */
    visibility: hidden;
}

#span3{
    display: block;
    color: red;
    font-weight: bold;
    height: 30px;
    margin-top: 20px;
}

#span4{
    display: inline-block;
    color: rgb(30, 0, 255);
    margin: 20px;
    font-family: 'Courier New';
    font-size: 20px;
}

div{
    margin: 20px;
    box-shadow: 10px 10px 20px blue;
}